<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {%block styles %}
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800;900&family=Sanchez&display=swap" rel="stylesheet"><!-- css file -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static',filename='js/index.js')}}"></script>
</body>
</html>